# Group Project

| **S.no** 	| Team Member                         	|
|:--------:	|------------------------------	|
|     1    	| Disha Gandhi                 	|
|     2    	| Chyavan Mysore Chandrashekar 	|
|     3    	| Muskaan Singhania            	|
|     4    	| Amritangshu Mukherjee        	|

------------------------------------------------------

In [4]:
import numpy as np
import gurobipy as gp
import pandas as pd
from IPython.display import Markdown as md
import warnings
warnings.filterwarnings("ignore")
pd.options.display.float_format = '{:.5f}'.format

## Data Load

In [37]:
#Load Data for ROI
ROI_data= pd.read_csv('/Users/amritangshumukherjee/Downloads/RM 294 Optimization/Project 1 - Group/ROI_data.csv')
ROI_data

,Platform,Print,TV,SEO,AdWords,Facebook,LinkedIn,Instagram,Snapchat,Twitter,Email
0,ROI,0.03100,0.04900,0.02400,0.03900,0.01600,0.02400,0.04600,0.02600,0.03300,0.04400
1,Second Firms ROI Estimate,0.04900,0.02300,0.02400,0.03900,0.04400,0.04600,0.02600,0.01900,0.03700,0.02600

In [38]:
#Load Data for Index
Index_data= pd.read_csv('/Users/amritangshumukherjee/Downloads/RM 294 Optimization/Project 1 - Group/index_data.csv')
Index_data

,Unnamed: 0,Print,TV,SEO,AdWords,Facebook,LinkedIn,Instagram,Snapchat,Twitter,Email
0,January,1,13,25,37,49,61,73,85,97,109
1,February,2,14,26,38,50,62,74,86,98,110
2,March,3,15,27,39,51,63,75,87,99,111
3,April,4,16,28,40,52,64,76,88,100,112
4,May,5,17,29,41,53,65,77,89,101,113
5,June,6,18,30,42,54,66,78,90,102,114
6,July,7,19,31,43,55,67,79,91,103,115
7,August,8,20,32,44,56,68,80,92,104,116
8,September,9,21,33,45,57,69,81,93,105,117
9,October,10,22,34,46,58,70,82,94,106,118
10,November,11,23,35,47,59,71,83,95,107,119
11,December,12,24,36,48,60,72,84,96,108,120

In [5]:
#Load Data for roi_mat
roi_mat= pd.read_csv('/Users/amritangshumukherjee/Downloads/RM 294 Optimization/Project 1 - Group/roi_mat.csv')
roi_mat

,Unnamed: 0,Print,TV,SEO,AdWords,Facebook,LinkedIn,Instagram,Snapchat,Twitter,Email
0,January,4.00000,3.60000,2.40000,3.90000,3.00000,3.50000,3.60000,2.25000,3.50000,3.50000
1,February,4.00000,3.90000,2.70000,3.80000,4.30000,3.20000,2.70000,1.80000,3.70000,3.50000
2,March,3.50000,2.90000,3.10000,3.80000,2.40000,4.10000,3.70000,2.60000,4.20000,2.50000
3,April,3.80000,3.10000,2.40000,4.40000,2.40000,3.80000,3.70000,2.50000,3.60000,2.90000
4,May,3.50000,3.20000,1.90000,3.40000,2.70000,2.70000,3.90000,2.20000,4.50000,3.90000
5,June,4.00000,3.20000,2.70000,3.40000,3.40000,3.00000,4.50000,2.10000,3.80000,4.10000
6,July,3.90000,3.60000,2.00000,4.40000,3.90000,3.70000,4.30000,1.80000,4.00000,3.80000
7,August,4.20000,3.30000,2.80000,4.20000,2.00000,3.70000,3.60000,1.50000,4.40000,4.30000
8,September,4.10000,2.80000,2.50000,4.20000,2.90000,3.70000,2.80000,2.50000,4.00000,3.40000
9,October,3.00000,3.00000,3.10000,4.60000,3.10000,3.30000,3.20000,2.30000,2.50000,3.20000
10,November,4.80000,3.30000,2.70000,4.10000,2.90000,3.60000,4.20000,3.00000,3.10000,4.10000
11,December,4.80000,4.00000,1.90000,3.70000,4.20000,3.60000,2.60000,2.90000,3.60000,3.70000

## Q1,2,3

In [40]:
case1=ROI_data[ROI_data['Platform']=='ROI']
case_1_ROI=case1[['Print','TV','SEO','AdWords','Facebook','LinkedIn','Instagram','Snapchat','Twitter','Email']].values.flatten()
obj = case_1_ROI

A = np.array([[1,1,1,1,1,1,1,1,1,1],[1,1,0,0,-1,0,0,0,0,-1],[0,0,-2,-2,1,1,1,1,1,0],[1,0,0,0,0,0,0,0,0,0],[0,1,0,0,0,0,0,0,0,0],[0,0,1,0,0,0,0,0,0,0],[0,0,0,1,0,0,0,0,0,0],[0,0,0,0,1,0,0,0,0,0],[0,0,0,0,0,1,0,0,0,0],[0,0,0,0,0,0,1,0,0,0],[0,0,0,0,0,0,0,1,0,0],[0,0,0,0,0,0,0,0,1,0],[0,0,0,0,0,0,0,0,0,1]])
b = np.array([10000000,0,0,3000000,3000000,3000000,3000000,3000000,3000000,3000000,3000000,3000000,3000000]) # limits on production, storage, and demand
sense = np.array(['<','<','>','<','<','<','<','<','<','<','<','<','<']) # all constraints are less than or equal constraints
ojModel = gp.Model() # initialize an empty model

ojModX = ojModel.addMVar(10) # tell the model how many variables there are
# must define the variables before adding constraints because variables go into the constraints
ojModCon = ojModel.addMConstrs(A, ojModX, sense, b) # add the constraints to the model
ojModel.setMObjective(None,obj,0,sense=gp.GRB.MAXIMIZE) # add the objective to the model...we'll talk about the None and the 0

ojModel.Params.OutputFlag = 0 # tell gurobi to shut up!!
ojModel.Params.TimeLimit = 3600
ojModel.optimize() # solve the LP

print(ojModel.objVal) # optimal revenue level
print(ojModX.x)


optimum_value=ojModel.objVal

456000.0
[      0. 3000000.       0. 1000000.       0.       0. 3000000.       0.
       0. 3000000.]

In [41]:
output_df_1=pd.DataFrame()
list_columns=['Print','TV','SEO','AdWords','Facebook','LinkedIn','Instagram','Snapchat','Twitter','Email']
x=0
output_df_1['Type'] = ['Variable', 'ROI 1', 'Allocation 1']
for column in list_columns:
    x_val='x'+str(x)
    if x<10:
        #print(x_val,ojModX.x[x],obj[x])
        output_df_1[column]=[x_val,obj[x],ojModX.x[x]]
    x=x+1
output_df_1.set_index('Type')

,Print,TV,SEO,AdWords,Facebook,LinkedIn,Instagram,Snapchat,Twitter,Email
Type,,,,,,,,,,
Variable,x0,x1,x2,x3,x4,x5,x6,x7,x8,x9
ROI 1,0.03100,0.04900,0.02400,0.03900,0.01600,0.02400,0.04600,0.02600,0.03300,0.04400
Allocation 1,0.00000,3000000.00000,0.00000,1000000.00000,0.00000,0.00000,3000000.00000,0.00000,0.00000,3000000.00000

------------------------------------------------------

## Q4

Your boss is happy to see the promising results presented by the marketing department.
However, your boss is also very concerned because your boss recalls being somewhat disappointed after following such recommendations in the past. To be cautious about the decision, your team has decided to get another opinion about the ROI data and rerun the analysis. The second consulting firm returns the estimates of the ROI data in the table below (also in the CSV file mentioned above). You are asked to compare the two optimal allocations from these two ROI estimates.

In [42]:
case2=ROI_data[ROI_data['Platform']=='Second Firms ROI Estimate']
case_2_ROI=case2[['Print','TV','SEO','AdWords','Facebook','LinkedIn','Instagram','Snapchat','Twitter','Email']].values.flatten()
obj = case_2_ROI
#obj = np.array([4.9,2.3,2.4,3.9,4.4,4.6,2.6,1.9,3.7,2.6])

A = np.array([[1,1,1,1,1,1,1,1,1,1],[1,1,0,0,-1,0,0,0,0,-1],[0,0,-2,-2,1,1,1,1,1,0],[1,0,0,0,0,0,0,0,0,0],[0,1,0,0,0,0,0,0,0,0],[0,0,1,0,0,0,0,0,0,0],[0,0,0,1,0,0,0,0,0,0],[0,0,0,0,1,0,0,0,0,0],[0,0,0,0,0,1,0,0,0,0],[0,0,0,0,0,0,1,0,0,0],[0,0,0,0,0,0,0,1,0,0],[0,0,0,0,0,0,0,0,1,0],[0,0,0,0,0,0,0,0,0,1]])
b = np.array([10000000,0,0,3000000,3000000,3000000,3000000,3000000,3000000,3000000,3000000,3000000,3000000]) # limits on production, storage, and demand
sense = np.array(['<','<','>','<','<','<','<','<','<','<','<','<','<']) # all constraints are less than or equal constraints
ojModel = gp.Model() # initialize an empty model

ojModX = ojModel.addMVar(10) # tell the model how many variables there are
# must define the variables before adding constraints because variables go into the constraints
ojModCon = ojModel.addMConstrs(A, ojModX, sense, b) # add the constraints to the model
ojModel.setMObjective(None,obj,0,sense=gp.GRB.MAXIMIZE) # add the objective to the model...we'll talk about the None and the 0

ojModel.Params.OutputFlag = 0 # tell gurobi to shut up!!
ojModel.Params.TimeLimit = 3600
ojModel.optimize() # solve the LP

print(ojModel.objVal) # optimal revenue level
print(ojModX.x)

456000.0
[3000000.       0.       0. 1000000. 3000000. 3000000.       0.       0.
       0.       0.]

In [43]:
output_df_2=pd.DataFrame()
list_columns=['Print','TV','SEO','AdWords','Facebook','LinkedIn','Instagram','Snapchat','Twitter','Email']
x=0
output_df_2['Type'] = ['Variable', 'ROI 2', 'Allocation 2']
for column in list_columns:
    x_val='x'+str(x)
    if x<10:
        output_df_2[column]=[x_val,obj[x],ojModX.x[x]]
    x=x+1
output_df_2.set_index('Type')

,Print,TV,SEO,AdWords,Facebook,LinkedIn,Instagram,Snapchat,Twitter,Email
Type,,,,,,,,,,
Variable,x0,x1,x2,x3,x4,x5,x6,x7,x8,x9
ROI 2,0.04900,0.02300,0.02400,0.03900,0.04400,0.04600,0.02600,0.01900,0.03700,0.02600
Allocation 2,3000000.00000,0.00000,0.00000,1000000.00000,3000000.00000,3000000.00000,0.00000,0.00000,0.00000,0.00000

------------------------------------------------------

## Q5

Are the allocations the same? Assuming the first ROI data is correct, if you were to use the second allocation (the allocation that assumed the second ROI data was correct) how much lower would the objective be relative to the optimal objective (the one that uses the first ROI data and the first allocation)? Assuming the second ROI data is correct, if you used the first allocation how much lower would the objective be relative to the optimal objective? Do you think the third constraint above, based on your boss’ experience, is useful?

## Answer
No, the allocations are not the same

In [44]:
output_df_3 = output_df_1.append(output_df_2).set_index('Type')

optimum=sum(output_df_3.loc['ROI 1']*output_df_3.loc['Allocation 1'])
ROI_1_Allocation_2=sum(output_df_3.loc['ROI 1']*output_df_3.loc['Allocation 2'])
ROI_2_Allocation_1=sum(output_df_3.loc['ROI 2']*output_df_3.loc['Allocation 1'])

print('Assuming the first ROI data is correct the objective would be lower by = ',optimum-ROI_1_Allocation_2)
print('Assuming the first ROI data is correct the objective would be lower by = ',optimum-ROI_2_Allocation_1)

Assuming the first ROI data is correct the objective would be lower by =  204000.0
Assuming the first ROI data is correct the objective would be lower by =  192000.0

The third constraint is not very usefull as we can potentially get higher allocations on some items that give us better ROI in some cases. Reducing the constraint only gives us a higher posibility of finding a better solution.

In [45]:
obj = case_1_ROI

A = np.array([[1,1,1,1,1,1,1,1,1,1],[1,1,0,0,-1,0,0,0,0,-1],[0,0,-2,-2,1,1,1,1,1,0]])
b = np.array([10000000,0,0]) # limits on production, storage, and demand
sense = np.array(['<','<','>']) # all constraints are less than or equal constraints
ojModel = gp.Model() # initialize an empty model

ojModX = ojModel.addMVar(10) # tell the model how many variables there are
# must define the variables before adding constraints because variables go into the constraints
ojModCon = ojModel.addMConstrs(A, ojModX, sense, b) # add the constraints to the model
ojModel.setMObjective(None,obj,0,sense=gp.GRB.MAXIMIZE) # add the objective to the model...we'll talk about the None and the 0

ojModel.Params.OutputFlag = 0 # tell gurobi to shut up!!
ojModel.Params.TimeLimit = 3600
ojModel.optimize() # solve the LP

print(ojModel.objVal) # optimal revenue level
print(ojModX.x) 

obj = case_1_ROI

A = np.array([[1,1,1,1,1,1,1,1,1,1],[1,1,0,0,-1,0,0,0,0,-1],[0,0,-2,-2,1,1,1,1,1,0]])
b = np.array([10000000,0,0]) # limits on production, storage, and demand
sense = np.array(['<','<','>']) # all constraints are less than or equal constraints
ojModel = gp.Model() # initialize an empty model

ojModX = ojModel.addMVar(10) # tell the model how many variables there are
# must define the variables before adding constraints because variables go into the constraints
ojModCon = ojModel.addMConstrs(A, ojModX, sense, b) # add the constraints to the model
ojModel.setMObjective(None,obj,0,sense=gp.GRB.MAXIMIZE) # add the objective to the model...we'll talk about the None and the 0

ojModel.Params.OutputFlag = 0 # tell gurobi to shut up!!
ojModel.Params.TimeLimit = 3600
ojModel.optimize() # solve the LP

print(ojModel.objVal) # optimal revenue level
print(ojModX.x)

465000.0
[      0. 5000000.       0.       0.       0.       0.       0.       0.
       0. 5000000.]
465000.0
[      0. 5000000.       0.       0.       0.       0.       0.       0.
       0. 5000000.]

In [46]:
print('Here we can see that removing the 3rd contraint would give us additional ',ojModel.objVal-optimum_value)

Here we can see that removing the 3rd contraint would give us additional  9000.0

------------------------------------------------------

## Q6

To explore this further perform some analysis of how your optimal allocation would change based on changes in the ROI data. Use the first ROI data as your starting point. By how much could each advertising medium’s ROI increase or decrease and still result in the same optimal allocation you found in step (3)?

In [47]:
obj = case_1_ROI

A = np.array([[1,1,1,1,1,1,1,1,1,1],[1,1,0,0,-1,0,0,0,0,-1],[0,0,-2,-2,1,1,1,1,1,0],[1,0,0,0,0,0,0,0,0,0],[0,1,0,0,0,0,0,0,0,0],[0,0,1,0,0,0,0,0,0,0],[0,0,0,1,0,0,0,0,0,0],[0,0,0,0,1,0,0,0,0,0],[0,0,0,0,0,1,0,0,0,0],[0,0,0,0,0,0,1,0,0,0],[0,0,0,0,0,0,0,1,0,0],[0,0,0,0,0,0,0,0,1,0],[0,0,0,0,0,0,0,0,0,1]])
b = np.array([10000000,0,0,3000000,3000000,3000000,3000000,3000000,3000000,3000000,3000000,3000000,3000000]) # limits on production, storage, and demand
sense = np.array(['<','<','>','<','<','<','<','<','<','<','<','<','<']) # all constraints are less than or equal constraints
ojModel2 = gp.Model() # initialize an empty model

ojMod_x2 = ojModel2.addMVar(10) # tell the model how many variables there are
# must define the variables before adding constraints because variables go into the constraints
ojMod_con2 = ojModel2.addMConstrs(A, ojMod_x2, sense, b) # NAME THE CONSTRAINTS!!! so we can get information about them later!
ojModel2.setMObjective(None,obj,0,sense=gp.GRB.MAXIMIZE) # add the objective to the model...we'll talk about the None and the 0

ojModel2.Params.OutputFlag = 0 # tell gurobi to shut up!!
ojModel2.optimize()

ojModel2.Objval

456000.0

In [48]:
obj = case_1_ROI

A = np.array([[1,1,1,1,1,1,1,1,1,1],[1,1,0,0,-1,0,0,0,0,-1],[0,0,-2,-2,1,1,1,1,1,0],[1,0,0,0,0,0,0,0,0,0],[0,1,0,0,0,0,0,0,0,0],[0,0,1,0,0,0,0,0,0,0],[0,0,0,1,0,0,0,0,0,0],[0,0,0,0,1,0,0,0,0,0],[0,0,0,0,0,1,0,0,0,0],[0,0,0,0,0,0,1,0,0,0],[0,0,0,0,0,0,0,1,0,0],[0,0,0,0,0,0,0,0,1,0],[0,0,0,0,0,0,0,0,0,1]])
b = np.array([10000000,0,0,3000000,3000000,3000000,3000000,3000000,3000000,3000000,3000000,3000000,3000000]) # limits on production, storage, and demand
sense = np.array(['<','<','>','<','<','<','<','<','<','<','<','<','<']) # all constraints are less than or equal constraints
ojModel = gp.Model() # initialize an empty model

ojModX = ojModel.addMVar(10) # tell the model how many variables there are
# must define the variables before adding constraints because variables go into the constraints
ojModCon = ojModel.addMConstrs(A, ojModX, sense, b) # add the constraints to the model
ojModel.setMObjective(None,obj,0,sense=gp.GRB.MAXIMIZE) # add the objective to the model...we'll talk about the None and the 0

ojModel.Params.OutputFlag = 0 # tell gurobi to shut up!!
ojModel.Params.TimeLimit = 3600
ojModel.optimize() # solve the LP

In [49]:
output_df_4=pd.DataFrame()
list_columns=['Print','TV','SEO','AdWords','Facebook','LinkedIn','Instagram','Snapchat','Twitter','Email']
x=0
output_df_4['Type'] = ['Variable', 'Lower Bound', 'Upper Bound','case_1_ROI','case_2_ROI']
for column in list_columns:
    x_val='x'+str(x)
    if x<10:
        output_df_4[column]=[x_val,ojModX.SAObjLow[x],ojModX.SAObjUp[x],case_1_ROI[x],case_2_ROI[x]]
    x=x+1
output_df_4=output_df_4.set_index('Type')
output_df_4

,Print,TV,SEO,AdWords,Facebook,LinkedIn,Instagram,Snapchat,Twitter,Email
Type,,,,,,,,,,
Variable,x0,x1,x2,x3,x4,x5,x6,x7,x8,x9
Lower Bound,-inf,0.03900,-inf,0.03300,-inf,-inf,0.03900,-inf,-inf,0.02900
Upper Bound,0.04900,0.06200,0.03900,0.04600,0.02900,0.03900,inf,0.03900,0.03900,inf
case_1_ROI,0.03100,0.04900,0.02400,0.03900,0.01600,0.02400,0.04600,0.02600,0.03300,0.04400
case_2_ROI,0.04900,0.02300,0.02400,0.03900,0.04400,0.04600,0.02600,0.01900,0.03700,0.02600

### Double check objective

In [50]:
obj = np.array([output_df_4.loc['Upper Bound']['Print'],0.049,0.024,0.039,0.016,0.024,0.046,0.026,0.033,0.044])

A = np.array([[1,1,1,1,1,1,1,1,1,1],[1,1,0,0,-1,0,0,0,0,-1],[0,0,-2,-2,1,1,1,1,1,0],[1,0,0,0,0,0,0,0,0,0],[0,1,0,0,0,0,0,0,0,0],[0,0,1,0,0,0,0,0,0,0],[0,0,0,1,0,0,0,0,0,0],[0,0,0,0,1,0,0,0,0,0],[0,0,0,0,0,1,0,0,0,0],[0,0,0,0,0,0,1,0,0,0],[0,0,0,0,0,0,0,1,0,0],[0,0,0,0,0,0,0,0,1,0],[0,0,0,0,0,0,0,0,0,1]])
b = np.array([10000000,0,0,3000000,3000000,3000000,3000000,3000000,3000000,3000000,3000000,3000000,3000000]) # limits on production, storage, and demand
sense = np.array(['<','<','>','<','<','<','<','<','<','<','<','<','<']) # all constraints are less than or equal constraints
ojModel2 = gp.Model() # initialize an empty model

ojMod_x2 = ojModel2.addMVar(10) # tell the model how many variables there are
# must define the variables before adding constraints because variables go into the constraints
ojMod_con2 = ojModel2.addMConstrs(A, ojMod_x2, sense, b) # NAME THE CONSTRAINTS!!! so we can get information about them later!
ojModel2.setMObjective(None,obj,0,sense=gp.GRB.MAXIMIZE) # add the objective to the model...we'll talk about the None and the 0

ojModel2.Params.OutputFlag = 0 # tell gurobi to shut up!!
ojModel2.optimize()

ojModel2.Objval

456000.0

As we can see the Objective value does not change when ROI value is changed

------------------------------------------------------

## Q7

Your boss has gained permission to reinvest half of the return. For example, if the marketing obtains a 4% return in January, the budget of February will be $10M + $10M × 4% × 50% = $10.2M. The monthly ROI for next year is given in Project1.Rdata. The three constraints given by your boss are still in place for each month. What is the optimal allocation for each month?

In [55]:
output_df_5=Index_data.set_index('Unnamed: 0')
roi_list=roi_mat.set_index('Unnamed: 0')
roi_list=roi_list/100
month_list=Index_data['Unnamed: 0']
month_list
results = pd.DataFrame(columns = ['month','optimal_outcome','new_budget_next_month'])      


budget=10000000
for month in month_list:
    obj = roi_list.loc[month]
    #print(budget)
    A = np.array([[1,1,1,1,1,1,1,1,1,1],[1,1,0,0,-1,0,0,0,0,-1],[0,0,-2,-2,1,1,1,1,1,0],[1,0,0,0,0,0,0,0,0,0],[0,1,0,0,0,0,0,0,0,0],[0,0,1,0,0,0,0,0,0,0],[0,0,0,1,0,0,0,0,0,0],[0,0,0,0,1,0,0,0,0,0],[0,0,0,0,0,1,0,0,0,0],[0,0,0,0,0,0,1,0,0,0],[0,0,0,0,0,0,0,1,0,0],[0,0,0,0,0,0,0,0,1,0],[0,0,0,0,0,0,0,0,0,1]])
    b = np.array([budget,0,0,3000000,3000000,3000000,3000000,3000000,3000000,3000000,3000000,3000000,3000000]) # limits on production, storage, and demand
    sense = np.array(['<','<','>','<','<','<','<','<','<','<','<','<','<']) # all constraints are less than or equal constraints
    ojModel3 = gp.Model() # initialize an empty model

    ojMod_x3 = ojModel3.addMVar(10) # tell the model how many variables there are
    ojMod_con3 = ojModel3.addMConstrs(A, ojMod_x3, sense, b) # NAME THE CONSTRAINTS!!! so we can get information about them later!
    ojModel3.setMObjective(None,obj,0,sense=gp.GRB.MAXIMIZE) # add the objective to the model...we'll talk about the None and the 0

    ojModel3.Params.OutputFlag = 0 # tell gurobi to shut up!!
    ojModel3.optimize()
    ojModel3.Objval
    output_df_5.loc[month]=ojMod_x3.x
    budget=10000000+ojModel3.Objval*0.5
    #budget=budget+ojModel3.Objval*0.5
    results.loc[len(results)] = [month,ojModel3.Objval,budget]
    #print(budget,ojModel3.Objval)
    #output_df_5['returns'][month]=ojModel3.Objval
    
output_df_5
output_df_5.join(results.set_index('month'))

,Print,TV,SEO,AdWords,Facebook,LinkedIn,Instagram,Snapchat,Twitter,Email,optimal_outcome,new_budget_next_month
Unnamed: 0,,,,,,,,,,,,
January,3000000.00000,0.00000,0,1333333.33333,0.00000,0,2666666.66667,0,0.00000,3000000.00000,373000.00000,10186500.00000
February,3000000.00000,0.00000,0,2395500.00000,3000000.00000,0,0.00000,0,1791000.00000,0.00000,406296.00000,10203148.00000
March,0.00000,0.00000,0,3000000.00000,0.00000,3000000,1203148.00000,0,3000000.00000,0.00000,407516.47600,10203758.23800
April,0.00000,0.00000,0,3000000.00000,0.00000,3000000,3000000.00000,0,1203758.23800,0.00000,400335.29657,10200167.64828
May,1200167.64828,0.00000,0,0.00000,0.00000,0,3000000.00000,0,3000000.00000,3000000.00000,411005.86769,10205502.93384
June,3000000.00000,0.00000,0,0.00000,0.00000,0,3000000.00000,0,1205502.93384,3000000.00000,423809.11149,10211904.55574
July,0.00000,0.00000,0,3000000.00000,1211904.55574,0,3000000.00000,0,3000000.00000,0.00000,428264.27767,10214132.13884
August,2714132.13884,0.00000,0,1500000.00000,0.00000,0,0.00000,0,3000000.00000,3000000.00000,437993.54983,10218996.77492
September,609498.38746,0.00000,0,3000000.00000,0.00000,3000000,0.00000,0,3000000.00000,609498.38746,402712.37906,10201356.18953
October,0.00000,0.00000,0,3000000.00000,0.00000,3000000,3000000.00000,0,0.00000,1201356.18953,371443.39806,10185721.69903
November,3000000.00000,0.00000,0,1185721.69903,0.00000,0,3000000.00000,0,0.00000,3000000.00000,441614.58966,10220807.29483
December,3000000.00000,2110403.64742,0,0.00000,3000000.00000,0,0.00000,0,0.00000,2110403.64742,432501.08085,10216250.54043

------------------------------------------------------

## Q8

A stable budget is defined as a monthly allocation such that for each platform the monthly change in spend is no more than $1M. Is the allocation you found stable? If it isn’t, you do not need to solve a new optimization model. Describe how my might model this?

The allocation is not stable as the changes in allocation is more than 1M in many cases, we would need to introduce new constraints in the subsequent cases after January that limits the change to under 1M

In [56]:
output_df_6=Index_data.set_index('Unnamed: 0')
roi_list=roi_mat.set_index('Unnamed: 0')
roi_list=roi_list/100
month_list=Index_data['Unnamed: 0']
month_list
results2 = pd.DataFrame(columns = ['month','optimal_outcome','new_budget_next_month'])      


budget=10000000
for month in month_list:
    if month=='January':
        obj = roi_list.loc[month]
        #print(budget)
        A = np.array([[1,1,1,1,1,1,1,1,1,1],[1,1,0,0,-1,0,0,0,0,-1],[0,0,-2,-2,1,1,1,1,1,0],[1,0,0,0,0,0,0,0,0,0],[0,1,0,0,0,0,0,0,0,0],[0,0,1,0,0,0,0,0,0,0],[0,0,0,1,0,0,0,0,0,0],[0,0,0,0,1,0,0,0,0,0],[0,0,0,0,0,1,0,0,0,0],[0,0,0,0,0,0,1,0,0,0],[0,0,0,0,0,0,0,1,0,0],[0,0,0,0,0,0,0,0,1,0],[0,0,0,0,0,0,0,0,0,1]])
        b = np.array([budget,0,0,3000000,3000000,3000000,3000000,3000000,3000000,3000000,3000000,3000000,3000000]) # limits on production, storage, and demand
        sense = np.array(['<','<','>','<','<','<','<','<','<','<','<','<','<']) # all constraints are less than or equal constraints
        ojModel3 = gp.Model() # initialize an empty model

        ojMod_x3 = ojModel3.addMVar(10) # tell the model how many variables there are
        ojMod_con3 = ojModel3.addMConstrs(A, ojMod_x3, sense, b) # NAME THE CONSTRAINTS!!! so we can get information about them later!
        ojModel3.setMObjective(None,obj,0,sense=gp.GRB.MAXIMIZE) # add the objective to the model...we'll talk about the None and the 0

        ojModel3.Params.OutputFlag = 0 # tell gurobi to shut up!!
        ojModel3.optimize()
        ojModel3.Objval
        output_df_6.loc[month]=ojMod_x3.x
        budget=budget+ojModel3.Objval*0.5
        results2.loc[len(results2)] = [month,ojModel3.Objval,budget]
        hold_val=ojMod_x3.x[0]
        hold_val2=ojMod_x3.x
 
        
    else:
        obj = roi_list.loc[month]
        #print(hold_val2[0])
        A = np.array([[1,1,1,1,1,1,1,1,1,1],[1,1,0,0,-1,0,0,0,0,-1],[0,0,-2,-2,1,1,1,1,1,0],[1,0,0,0,0,0,0,0,0,0],[0,1,0,0,0,0,0,0,0,0],[0,0,1,0,0,0,0,0,0,0],[0,0,0,1,0,0,0,0,0,0],[0,0,0,0,1,0,0,0,0,0],[0,0,0,0,0,1,0,0,0,0],[0,0,0,0,0,0,1,0,0,0],[0,0,0,0,0,0,0,1,0,0],[0,0,0,0,0,0,0,0,1,0],[0,0,0,0,0,0,0,0,0,1],
                      [1,0,0,0,0,0,0,0,0,0],[1,0,0,0,0,0,0,0,0,0],[0,1,0,0,0,0,0,0,0,0],[0,1,0,0,0,0,0,0,0,0],[0,0,1,0,0,0,0,0,0,0],[0,0,1,0,0,0,0,0,0,0],[0,0,0,1,0,0,0,0,0,0],[0,0,0,1,0,0,0,0,0,0]
                     ,[0,0,0,0,1,0,0,0,0,0],[0,0,0,0,1,0,0,0,0,0],[0,0,0,0,0,1,0,0,0,0],[1,0,0,0,0,1,0,0,0,0],[0,0,0,0,0,0,1,0,0,0],[0,0,0,0,0,0,1,0,0,0]
                     ,[0,0,0,0,0,0,0,1,0,0],[0,0,0,0,0,0,0,1,0,0],[0,0,0,0,0,0,0,0,1,0],[0,0,0,0,0,0,0,0,1,0],[0,0,0,0,0,0,0,0,0,1],[0,0,0,0,0,0,0,0,0,1]])
        b = np.array([budget,0,0,3000000,3000000,3000000,3000000,3000000,3000000,3000000,3000000,3000000,3000000,hold_val2[0]+1000000,hold_val2[0]-1000000
                     ,hold_val2[1]+1000000,hold_val2[1]-1000000
                     ,hold_val2[2]+1000000,hold_val2[2]-1000000
                     ,hold_val2[3]+1000000,hold_val2[3]-1000000
                     ,hold_val2[4]+1000000,hold_val2[4]-1000000
                     ,hold_val2[5]+1000000,hold_val2[5]-1000000
                     ,hold_val2[6]+1000000,hold_val2[6]-1000000
                     ,hold_val2[7]+1000000,hold_val2[7]-1000000
                     ,hold_val2[8]+1000000,hold_val2[8]-1000000
                     ,hold_val2[9]+1000000,hold_val2[9]-1000000]) # limits on production, storage, and demand
        sense = np.array(['<','<','>','<','<','<','<','<','<','<','<','<','<','<','>',
                         '<','>',
                         '<','>',
                         '<','>',
                         '<','>',
                         '<','>',
                         '<','>',
                         '<','>',
                         '<','>',
                         '<','>']) # all constraints are less than or equal constraints
        ojModel3 = gp.Model() # initialize an empty model

        ojMod_x3 = ojModel3.addMVar(10) # tell the model how many variables there are
        ojMod_con3 = ojModel3.addMConstrs(A, ojMod_x3, sense, b) # NAME THE CONSTRAINTS!!! so we can get information about them later!
        ojModel3.setMObjective(None,obj,0,sense=gp.GRB.MAXIMIZE) # add the objective to the model...we'll talk about the None and the 0

        ojModel3.Params.OutputFlag = 0 # tell gurobi to shut up!!
        ojModel3.optimize()
        ojModel3.Objval
        output_df_6.loc[month]=ojMod_x3.x
        budget=10000000+ojModel3.Objval*0.5
        #budget=budget+ojModel3.Objval*0.5
        results2.loc[len(results2)] = [month,ojModel3.Objval,budget]
        hold_val=ojMod_x3.x[0]
        hold_val2=ojMod_x3.x
        #print(budget,ojModel3.Objval)
        #output_df_5['returns'][month]=ojModel3.Objval
    
output_df_6
output_df_6.join(results.set_index('month'))

,Print,TV,SEO,AdWords,Facebook,LinkedIn,Instagram,Snapchat,Twitter,Email,optimal_outcome,new_budget_next_month
Unnamed: 0,,,,,,,,,,,,
January,3000000.00000,0.00000,0,1333333.33333,0.00000,0,2666666.66667,0,0.00000,3000000.00000,373000.00000,10186500.00000
February,3000000.00000,0.00000,0,1728833.33333,1000000.00000,0,1666666.66667,0,791000.00000,2000000.00000,406296.00000,10203148.00000
March,2000000.00000,0.00000,0,2062160.44444,0.00000,1000000,1333320.88889,0,1791000.00000,2000000.00000,407516.47600,10203758.23800
April,1000000.00000,0.00000,0,2727319.49496,0.00000,2000000,2333320.88889,0,1121318.10104,1000000.00000,400335.29657,10200167.64828
May,1346213.59515,0.00000,0,1727319.49496,0.00000,0,3000000.00000,0,2121318.10104,2000000.00000,411005.86769,10205502.93384
June,2346213.59515,0.00000,0,727319.49496,0.00000,0,3000000.00000,0,1124619.73649,3000000.00000,423809.11149,10211904.55574
July,1357717.24686,0.00000,0,1727319.49496,0.00000,0,3000000.00000,0,2124619.73649,2000000.00000,428264.27767,10214132.13884
August,1482149.41497,0.00000,0,727319.49496,0.00000,0,2000000.00000,0,3000000.00000,3000000.00000,437993.54983,10218996.77492
September,2242789.67607,0.00000,0,1727319.49496,0.00000,0,1000000.00000,0,3000000.00000,2242789.67607,402712.37906,10201356.18953
October,1242789.67607,0.00000,0,2569599.65670,139199.31340,1000000,2000000.00000,0,2000000.00000,1242789.67607,371443.39806,10185721.69903
November,2242789.67607,0.00000,0,1687705.50927,0.00000,0,3000000.00000,0,1000000.00000,2242789.67607,441614.58966,10220807.29483
December,3000000.00000,762598.29713,0,687705.50927,1000000.00000,0,2000000.00000,0,0.00000,2762598.29713,432501.08085,10216250.54043

In [6]:
roi_list=roi_mat.set_index('Unnamed: 0')
roi_list=roi_list/100

In [7]:
roi_list

,Print,TV,SEO,AdWords,Facebook,LinkedIn,Instagram,Snapchat,Twitter,Email
Unnamed: 0,,,,,,,,,,
January,0.04000,0.03600,0.02400,0.03900,0.03000,0.03500,0.03600,0.02250,0.03500,0.03500
February,0.04000,0.03900,0.02700,0.03800,0.04300,0.03200,0.02700,0.01800,0.03700,0.03500
March,0.03500,0.02900,0.03100,0.03800,0.02400,0.04100,0.03700,0.02600,0.04200,0.02500
April,0.03800,0.03100,0.02400,0.04400,0.02400,0.03800,0.03700,0.02500,0.03600,0.02900
May,0.03500,0.03200,0.01900,0.03400,0.02700,0.02700,0.03900,0.02200,0.04500,0.03900
June,0.04000,0.03200,0.02700,0.03400,0.03400,0.03000,0.04500,0.02100,0.03800,0.04100
July,0.03900,0.03600,0.02000,0.04400,0.03900,0.03700,0.04300,0.01800,0.04000,0.03800
August,0.04200,0.03300,0.02800,0.04200,0.02000,0.03700,0.03600,0.01500,0.04400,0.04300
September,0.04100,0.02800,0.02500,0.04200,0.02900,0.03700,0.02800,0.02500,0.04000,0.03400
October,0.03000,0.03000,0.03100,0.04600,0.03100,0.03300,0.03200,0.02300,0.02500,0.03200
November,0.04800,0.03300,0.02700,0.04100,0.02900,0.03600,0.04200,0.03000,0.03100,0.04100
December,0.04800,0.04000,0.01900,0.03700,0.04200,0.03600,0.02600,0.02900,0.03600,0.03700